body {
     background-color: red;
}

#title {
       font-family: Helvetica Neue;
       font-weight: Bold
       
      }

#lyrics {
	font-family: Helvetica Neue;
        font-weight: Bold
               
	}